@page
@model IndexModel
@{
    ViewData["Title"] = "Home";
}

<head>
    <link rel="stylesheet" href="~/css/style.css">
</head>

<div id="sect" class="ml-5">
    <p>selam murat</p>
    <h2 style="text-align:center">@Model.Name @Model.Surname</h2>

</div>

<script src="~/js/data.js"></script>
<script src="~/js/script.js"></script>

